{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        [
            "module-resolver",
            {
                "alias": {
                    "@types": "./src/@types/",
                    "@components": "./src/components/",
                    "@store": "./src/store/",
                    "@ducks": "./src/ducks/",
                    "@logics": "./src/logics/",
                    "@assets": "./src/assets/"
                }
            }
        ]
    ]
}
