.studentCard {
    position: relative;
    display: flex;
    margin: 0;
    padding: 18px 84px 18px 28px;
    list-style: none;
    border-bottom: 2px solid $color-default-grey;

    @media (max-width: 580px) {
        flex-direction: column;
    }

    @media (min-width: 320px) and (max-width: 384px) {
        padding: 18px;
    }
}

.avatar {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    width: 136px;
    @media (max-width: 580px) {
        align-self: center;
    }
}

.picture {
    border: 2px solid $color-default-grey;
    border-radius: 50%;
}

.studentInfo {
    padding-left: 30px;

    @media (max-width: 580px) {
        padding-left: 0;
    }
}

.names {
    margin: 0 0 12px 0;
    font-size: 40px;
    line-height: 40px;
    color: $color-black;
    text-transform: uppercase;

    @media (max-width: 580px) {
        margin-top: 12px;
        font-size: 40px;
    }

    @media (min-width: 320px) and (max-width: 384px) {
        font-size: 36px;
    }
}

.detailsList {
    margin: 0 0 12px 0;
    padding: 0;

    list-style: none;
    color: $color-grey;

    word-break: break-all;

    @media (min-width: 320px) and (max-width: 384px) {
        font-size: 16px;
    }
}

.gradesList {
    display: block;
    width: 100%;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: $color-grey;
}

.collapseButton {
    position: absolute;
    top: 18px;
    right: 28px;
    width: 40px;
    height: 40px;
    padding: 4px;
    font-weight: 500;
    font-size: 80px;
    line-height: 28px;
    color: #aaaaaa;
    background-color: transparent;
    border: none;

    &:hover {
        cursor: pointer;

        &.plus {
            &:before,
            &:after {
                background-color: $color-black;
            }
        }

        &.minus {
            &:before {
                background-color: $color-black;
            }
        }
    }
}

.plus {
    &:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 8px;
        width: 24px;
        height: 6px;
        background-color: #aaaaaa;
        border-radius: 2px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 17px;
        left: 8px;
        width: 24px;
        height: 6px;
        background-color: #aaaaaa;
        border-radius: 2px;
        transform: rotate(90deg);
    }
}

.minus {
    &:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 8px;
        width: 24px;
        height: 6px;
        background-color: #aaaaaa;
        border-radius: 2px;
    }
}

.addTag {
    padding: 4px 2px;
    font-size: 16px;
    line-height: 24px;

    color: $color-black;
    border: none;
    border-bottom: 2px solid $color-default-grey;
    transition: border-bottom-color 0.3s;

    &::placeholder {
        color: $color-grey;
    }

    &:focus {
        border-bottom-color: $color-darkmagenta;
        outline: none;
    }
}
